body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS Variables */
:root {
  --primary: #ffffff;
  --bold: #0097b2;
  --dark: #353b40;
  --medium: #9a9da0;
  --light: #ebeded;
  --facebook: #4968ad;
  --youtube: #eb3223;
  --button: #4968ad;
}

main {
  flex: 1;
  min-height: 100vh;
  background-color: var(--light);
}

.content {
  padding-left: 5%;
  padding-right: 5%;
}

.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px var(--light);
  padding: 30px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.bg-info {
  color: var(--medium);
  background-color: var(--dark) !important;
}

/*************** jumbotron image - Home.js ******************/
.jumbotron1 {
  background-image: url('./images/antiques.png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4em 4em;
  color: var(--light);
  text-align: center;
  font-size: 3.5rem;
  font-weight: thin;
  text-shadow: 2px 2px 4px var(--bold);
}

/* *********************** Header ************************ */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--bold);
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-brand > img {
  height: 200px;
  width: 200px;
  margin-top: -2rem;
  margin-bottom: -2rem;
}
/* Dropdown */
.dropdown {
  display: block;
  position: relative;
}

.bottom-header {
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background: black;
  color: var(--primary);
  text-align: center;
  justify-content: space-around;
}
.nav-categories {
  display: none;
}

/********************** Product page *********************/
/* Product card */
.card {
  min-width: 10rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 14rem;
  padding: 1rem;
}
.card-title {
  text-decoration: none;
}
.card-img-top:hover {
  border-radius: 0% !important;
  text-decoration: none;
  box-shadow: 0 4px 20px 2px var(--bold);
  transform: scale(1.1);
}

/* image zoom - product screen */
.container1 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.img-large {
  width: 500px;
  object-fit: contain;
  position: relative; /* brings main image forward */
  z-index: 2;
}
.img-thumbnail {
  height: 80px;
  width: 80px;
}
.thumbnail {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 120px;
  row-gap: 20px;
}
.thumbnail:hover {
  border-radius: 0% !important;
  text-decoration: none;
  box-shadow: 0 4px 20px 2px var(--bold);
  transform: scale(1.1);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px #353b40 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.lens {
  height: 125px;
  width: 125px;
  border: 2px var(--dark);
}

.noWrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

/********************* Checkout *******************/
.btn-primary,
.btn-outline-primary {
  background-color: var(--button);
  color: var(--primary);
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--youtube);
  color: #353b40;
}

/****************** Pagination ***************/
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

.rating span {
  color: var(--facebook);
}

.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

/************** Sidebar optional *************/
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* *********************** Footer ************************ */
footer {
  text-decoration: none !important;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--bold);
  color: #ffffff;
  text-align: center;
}

/* footer social icons */
a.socialIcon {
  margin: 0 1rem;
}
.socialIcon a:hover {
  color: var(--dark);
}
.socialIcon {
  margin: 0 1rem;
  transition: transform 250ms;
}
a.facebookIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.instagramIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.youtubeIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.email {
  color: var(--primary);
  text-decoration: none !important;
}

.hrLine {
  border-color: var(--primary);
}

/***************** Bottom Footer ***************/

.bottom-footer {
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background: black;
  color: #ffffff;
  text-align: center;
}
/* gabewd in BottomFooter link color */
#linked {
  color: var(--medium);
  text-decoration: none;
}

/* ************************************************************* */
/* media queries */
/* ************************************************************* */

@media screen and (max-width: 767px) {
  .content {
    padding-left: auto;
    padding-right: auto;
  }

  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 0.1rem;
    padding: 0.5rem 0;
  }

  h2 {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }

  h3 {
    padding: 1rem 0;
    font-size: smaller;
  }

  /* *********************** Header ************************ */

  .navbar-brand > img {
    height: 70px;
    width: 70px;
    margin-top: -2rem;
    margin-bottom: 1-rem;
  }

  .nav-categories {
    display: flex;
  }
  .search {
    font-size: smaller;
  }

  .search h3 {
    font-size: 12px;
  }

  /* Removes category header and uses hamburger */
  .bottom-header {
    display: none;
  }

  /********************** jumbotron image *******************/
  .jumbotron1 {
    background-image: url('./images/antiques.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 5em;
    color: var(--primary);
    text-align: center;
    font-size: 0.9rem;
  }

  /* *************** Product images ***************** */
  .box {
    background: #fff;
    margin: 0 0 10px;
    border: solid 1px #e6e6e6;
    padding: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-size: xx-small;
    height: auto;
  }

  .card {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 28rem;
    max-height: 300px;
  }
  .card-title {
    font-size: 10px;
    max-height: 230px;
  }
  .card-img-top {
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    min-width: 110px;
    max-width: 120px;
  }
  .card-body {
    max-height: 220px;
  }

  .flex-column {
    width: 100%;
  }

  /************* Product page ************/

  .rating span {
    margin: 0.1rem;
    font-size: 6px;
  }

  .img-large {
    max-width: 325px;
  }
  .thumbnail {
    height: 65px;
    width: 45px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .mt-3 {
    padding: 15px;
  }

  .mx-1 {
    font-size: xx-small;
    padding: 10px;
  }

  .products {
    margin: 0.5rem;
  }

  .align-items-center {
    font-size: xx-small;
  }

  .btn-primary {
    font-size: xx-small;
  }
}
